@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove default list styles */
ul, ol {
  list-style: none;
  padding: 0;
}

/* Anchor tag reset */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Button reset */
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
}

/* Input, textarea, select reset */
input, textarea, select {
  font: inherit;
  outline: none;
  border: none;
}

/* Resetting form element styles */
input[type='text'], input[type='password'], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Body defaults */
body {
  font-family: 'Manrope';
 
}

/* Image reset */
img, picture {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Table reset */
table {
  border-collapse: collapse;
  width: 100%;
}

